<launch>
    <!-- Launch the garmin_cortex_driver node -->
    <node pkg="garmin_cortex_driver" type="garmin_cortex" name="garmin_cortex" output="screen">
    </node>

    <!-- Define a parameter for the port number -->
    <arg name="port" default="9003" />

    <!-- Launch the rosbridge_websocket node with the specified port -->
    <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_websocket" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="websocket_timeout" value="60.0" />
    </node>

    <!-- Launch the marine_radio_tools send_text_service node -->
    <node pkg="marine_radio_tools" type="send_text_service" name="send_text_service" output="screen">
    </node>
</launch>

